/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Nov 2019, 7:14:53 PM
    Author     : User
*/

        *
        { 
            margin:0; 
            padding:0; 
            box-sizing:border-box; 
        } 

        html,body  
        { 
            height:100%;
            background: white;
            font-family: "Varela Round", sans-serif;
        }
        
        .navbar 
        {
            text-align:center;
            width: 100%;
        }

        .navbar ul 
        {
            display:inline-block;
        }

        .navbar li 
        {
            float:left;
        }

        .navbar li + li 
        {
            margin-left:20px;

        }

        .navbar li a, .navbar .navbar-brand
        {  
            color: darkblue;
        }

        .navbar-nav li a:hover 
        {
            color:black;
        }

        .navbar-nav li.active a 
        {
            color:black;
        }            

        .navbar-default .navbar-toggle 
        { 
            border-color: transparent;
        }
        
       
        footer
        {
            background-color:#DCDCDC;
        }
            
        .fakeimg 
        {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }
            
        card my-4
        {
            padding-top:20px;
        }
       
          

        .myButton 
        {
            background-color:#e4685d;
            border-radius:18px;
            border:1px solid #ffffff;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:14px;
            padding:4px 18px;
            text-decoration:none;
            text-shadow:0px 1px 0px #b23e35;
            margin:5px;
        }
        .myButton:hover 
        {
            background-color:#eb675e;
        }
        
        .myButton:active 
        {
            position:relative;
            top:1px;
        }

        p
        {
            font-size:16px;
        }
        
        .col-sm 
        {
            font-weight:bold;
        }
